<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Elian</ion-card-title>
      <ion-card-subtitle>Filantropo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Alto, bronciado y guapo </ion-card-content>
  </ion-card>
  
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Fernada</ion-card-title>
      <ion-card-subtitle>chica de cabello rojo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Traumada de la vida y la escuela </ion-card-content>
  </ion-card>
  
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>Carlos</ion-card-title>
      <ion-card-subtitle>Depresivo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Se recomienda seciones de terapia </ion-card-content>
  </ion-card>
  
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Fofo</ion-card-title>
      <ion-card-subtitle>Caballo homosexual de la montaña</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Gey heterosexual amante de todo lo que se mueva</ion-card-content>
  </ion-card>
  
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Martin</ion-card-title>
      <ion-card-subtitle>Jefe obsecivo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Obcesivo por el trabajo y adicto al estres</ion-card-content>
  </ion-card>
  
  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>Emmanuel</ion-card-title>
      <ion-card-subtitle>Barbi</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Mas de mil empleos por segundo su frace lema: "Tu puedes ser lo que quieres ser" </ion-card-content>
  </ion-card>
  
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Jerry</ion-card-title>
      <ion-card-subtitle>El que vende en los rincones</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Cuidado si es visto, suele recojer cuando no reconoce</ion-card-content>
  </ion-card>
  
  <ion-card color="medium">
    <ion-card-header>
      <ion-card-title>Eliezer</ion-card-title>
      <ion-card-subtitle>Maniatico sabelotodo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Un sabelotodo amante de la creacion web</ion-card-content>
  </ion-card>
  
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Profe jaime </ion-card-title>
      <ion-card-subtitle>Ell mejor profesor de todos</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Que va a pasar a toda mi isla completa</ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Maday</ion-card-title>
      <ion-card-subtitle>viejita que parece niña</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>subestimada pero se esfuerza </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Jerry</ion-card-title>
      <ion-card-subtitle>El que vende en los rincones</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Cuidado si es visto, suele recojer cuando no reconoce</ion-card-content>
  </ion-card>

  

  

</ion-content>
